[submodule "packages/contracts/lib/aerodrome-finance"]
	path = packages/contracts/lib/aerodrome-finance
	url = https://github.com/aerodrome-finance/contracts
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/aerodrome-slipstream"]
	path = packages/contracts/lib/aerodrome-slipstream
	url = https://github.com/aerodrome-finance/slipstream
