[submodule "packages/contracts/lib/aerodrome-finance"]
	path = packages/contracts/lib/aerodrome-finance
	url = https://github.com/aerodrome-finance/contracts
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/aerodrome-slipstream"]
	path = packages/contracts/lib/aerodrome-slipstream
	url = https://github.com/aerodrome-finance/slipstream
[submodule "packages/aero/lib/forge-std"]
	path = packages/aero/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/aero/lib/aerodrome-slipstream"]
	path = packages/aero/lib/aerodrome-slipstream
	url = https://github.com/aerodrome-finance/slipstream
[submodule "packages/aero/lib/slipstream"]
	path = packages/aero/lib/slipstream
	url = https://github.com/aerodrome-finance/slipstream
